{% extends 'FrontBundle::front_layout.html.twig' %}

    {% block title %}
        {{ title }}
    {% endblock title %}

    {% block content %}
        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Please, feel free to contact us :</p>
            </div>
        </div>

        {% if app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                <strong> {{ app.session.flashBag.get('success') }} </strong>
            </div>
        {% endif %}

        <div class="row">
            <div class="container"></div>
            {{ form_start(form) }}

            <div>
                {{ form_widget(form.subject) }}
                {{ form_errors(form.subject) }}
            </div>
            <div>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>

            {# Render CSRF token etc .#}
            <div style="display:none">
                {{ form_rest(form) }}
            </div>

            <input type="submit" value="Submit">

            {{ form_end(form) }}
        </div>
    {% endblock content %}
