{% extends 'AdminBundle:Pages:admin_index.html.twig' %}

    {% block title %}
        {{ title }}
    {% endblock title %}

    {% block adminPanel %}
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_index') }}">Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Authors/Directors</a>
            </li>
        </ul>
    {% endblock adminPanel %}

    {% block adminAction %}
        <div class="row">
            <div class="col-sm-9 d-flex p-2">
                <h4>{{ title }}</h4>
            </div>
            <div class="col-sm-3 d-flex p-2">
                <a href="{{ path('admin_authordirector_new') }}" class="btn btn-primary">Create a new authorDirector</a>
            </div>
            <p class="d-flex p-2"> This the list of all your data :</p>
        </div>

        <div class="row d-flex p-2">
            <table class="table table-inverse table-hover table-responsive">
                <thead class="thead-inverse">
                <tr>
                    <th scope="row">Id</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Createdat</th>
                    <th>Updatedat</th>
                    <th>Deletedat</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for authorDirector in authorDirectors %}
                    <tr>
                        <td><a href="{{ path('admin_authordirector_show', { 'id': authorDirector.id }) }}">{{ authorDirector.id }}</a></td>
                        <td>{{ authorDirector.firstName|capitalize }} {{ authorDirector.lastName|capitalize }}</td>
                        <td>{{ authorDirector.slug }}</td>
                        <td>{% if authorDirector.createdAt %}{{ authorDirector.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if authorDirector.updatedAt %}{{ authorDirector.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if authorDirector.deletedAt %}{{ authorDirector.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a href="{{ path('admin_authordirector_show', { 'id': authorDirector.id }) }}" class="btn btn-info btn-sm">show</a>
                            <a href="{{ path('admin_authordirector_edit', { 'id': authorDirector.id }) }}" class="btn btn-warning btn-sm">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock adminAction %}
