{% extends 'AdminBundle:Book:list.html.twig' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block adminAction %}
    <div class="row d-flex p-2">
        <h4>Book</h4>
    </div>

    <div class="row d-flex p-2">
        <table class="table table-inverse table-hover table-responsive">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ book.firstName }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ book.lastName }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ book.slug }}</td>
                </tr>
                <tr>
                    <th>Createdat</th>
                    <td>{% if book.createdAt %}{{ book.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Updatedat</th>
                    <td>{% if book.updatedAt %}{{ book.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Deletedat</th>
                    <td>{% if book.deletedAt %}{{ book.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row d-flex p-2">
        <div class="col-sm-1">
            <a href="{{ path('admin_book_index') }}" class="btn btn-primary">Back to the list</a>
        </div>

        <div class="col-sm-2">
            <a href="{{ path('admin_book_edit', { 'id': book.id }) }}" class="btn btn-warning">Edit</a>
        </div>

        <div class="col-sm-1">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock adminAction %}
